h1{
    text-align: center;
}
input{
width: 100%;
font-size: 1.5em;
}
table{
width: 200px;
}
.button{
    background: orange;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 60px;
}
.clear{
    background: orange;
    border-radius: 5px;
    border: none;
    height: 60px;
}
.text{
    border: 2px solid orange;
    border-radius: 5px;
    width: 100%;
    height: 60px;
}
.calculator{
    border: 3px;
    border-radius: 5px;
    color: red;
}
